name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  steps:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Run tests
        run: |
          echo "Run tests"

      # https://github.com/release-drafter/release-drafter
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        with:
          commitish: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}