name: CI Pipeline

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running build job"

  tests:
    name: Run Unit Tests
    if: ${{ vars.NODEJS_TESTS_ENABLED != 'false' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running unit tests"

  release:
    needs: 
      - tests
      - build
    name: Release to staging
    if: |
      always() && 
      (needs.tests.result == 'skipped' || needs.tests.result == 'success') &&
      (needs.build.result == 'skipped' || needs.build.result == 'success')
    runs-on: ubuntu-latest

    steps:
      - run: echo "Deploying to staging"