name: CI

on:
  push:
    tags:
      - v*

  pull_request:
    branches:
      - main

jobs:
  steps:
    runs-on: ubuntu-latest

    steps:
      - name: Run tests
        run: |
          echo "Run tests on : ${{ github.ref_name }}"

      - name: Get draft release details
        uses: actions/github-script@v6
        id: get-release # ID to reference the output later
        env:
          REF_NAME: ${{ github.ref_name }}
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: |
            const { owner, repo } = context.repo;
            const tag_name = process.env.REF_NAME;
            
            // List all releases
            const releases = await github.rest.repos.listReleases({
              owner,
              repo,
            });
            
            // Find the specific draft release by tag_name
            const draftRelease = releases.data.find(r => r.tag_name === tag_name && r.draft);
            
            if (draftRelease) {
              console.log(`Found draft release with ID: ${draftRelease.id}`);
              // Set outputs for subsequent steps
              core.setOutput('upload_url', draftRelease.upload_url);
              core.setOutput('release_id', draftRelease.id);
            } else {
              core.setFailed(`Draft release with tag ${tag_name} not found.`);
            }
          result-encoding: json

      - uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          release_id: ${{ steps.get-release.outputs.release_id }}