name: CI Pipeline

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      image-tag:
        description: 'Tag to use for the Docker image'
        required: false
        default: 'v1.0.0'

jobs:
  tag:
    name: Build Application
    runs-on: ubuntu-latest
    steps:
      - name: Tag build
        env:
          # IMAGE_TAG: ${{ replace(inputs.image-tag, 'v', '') }}
          IMAGE_TAG: ${{ inputs.image-tag }}
        run: |
          echo "tagging with $IMAGE_TAG"