name: Works
on:
  push:
    branches: ["**"]

jobs:
  parallel:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        chart:
          - common
          - transitions

    steps:
      - name: output
        id: output
        run: |
          echo "version=1.0.0" >> $GITHUB_OUTPUT
          echo "name=${{ matrix.chart }}" >> $GITHUB_OUTPUT

    outputs:
      version: ${{ steps.output.outputs.version }}
      name: ${{ steps.output.outputs.name }}

  finally:
    needs: parallel
    runs-on: ubuntu-latest

    # strategy:
    #   matrix:
    #     chart: ${{ needs.parallel.outputs.* }}

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: debug
        run: echo '${{ toJSON(needs) }}'