name: CI

on:
  push:
    tags:
      - v*

  pull_request:
    branches:
      - main

jobs:
  steps:
    runs-on: ubuntu-latest

    steps:
      - name: Run tests
        run: |
          echo "Run tests on : ${{ github.ref_name }}"

      - uses: joutvhu/get-release@v1
        id: get_release
        with:
          tag_name: ${{ github.ref_name }}

      - uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          release_id: ${{ steps.get_release.outputs.id }}