name: CI

on:
  push:
    tags:
      - v*

  pull_request:
    branches:
      - main

jobs:
  steps:
    runs-on: ubuntu-latest

    steps:
      - name: Run tests
        run: |
          echo "Run tests on : ${{ github.ref_name }}"

      - name: Publish existing draft release by tag
        uses: actions/github-script@v7
        env:
          RELEASE_VERSION: ${{ github.ref_name }}
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: |
            const {owner, repo} = context.repo;
            const tag = process.env.RELEASE_VERSION;

            const release = await github.rest.repos.getReleaseByTag({
              owner, repo, tag,
            });

            const updated = await github.rest.repos.updateRelease({
              owner, repo,
              release_id: release.data.id,
              draft: false, // this publishes it
            });

            core.info(`Published: ${updated.data.html_url}`);