name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  step1:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Debug
        run: echo "Hello Step1"

  step2:
    runs-on: ubuntu-latest
    needs: step1
    steps:
      - name: Debug
        run: echo "Hello Step2"

  step3:
    runs-on: ubuntu-latest
    needs: step2
    steps:
      - name: Debug
        run: echo "Hello Step3"
