name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  steps:
    runs-on: ubuntu-latest

    steps:
      - name: Run tests
        run: |
          echo "Run tests"

      - name: Trigger repository_dispatch
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: |
            const version = '1.0.0'

            await github.rest.repos.createDispatchEvent({
              owner: ${{ github.repository_owner }},
              repo: ${{ github.repository.name }},
              event_type: 'create-release',
              client_payload: {
                version: version,
                source_repo: context.repo.repo,
                source_owner: context.repo.owner,
                ref: context.ref,
                sha: context.sha
              }
            })