name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy

    runs-on: ubuntu-latest

    environment: Dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy step
        run: echo "Deploying..."