name: Deploy

on:
  push:
    branches: ["main"]
  
jobs:
  deploy:
    name: Deploy

    runs-on: ubuntu-latest

    environment: ${{ matrix.environment }}

    strategy:
      matrix:
        environment: 
          - Demo
          - QA
          - Live

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy step
        run: echo "Deploying ${{ matrix.environment }}..."