# Note this update workflow can also be used as a rollback tool.
# To rollback a major version to a previous commit or tag, simply specify
# the desired git ref as the 'target' input when triggering the workflow.
name: Update Version

run-name: Updating version

on:
  workflow_dispatch:
    inputs:
      target:
        type: string
        description: "The git reference to use as the target (ex. v1.2.3)"
        required: false

concurrency:
  group: ${{ github.workflow }}-update-major-${{ inputs.target }}
  cancel-in-progress: false

jobs:
  tag:
    name: Update major and minor version tags

    # Run the job on the latest Ubuntu version
    runs-on: ubuntu-latest

    # Only run this job if the branch is main
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      # https://github.com/actions/checkout
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Get tag
        id: get_tag
        env:
          TARGET: ${{ github.event.inputs.target }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [[ -z "${TARGET}" ]]; then
              echo "Looking up latest published GitHub release..."
              TAG=$(gh release view --json tagName | jq -r '.tagName')
              SHA=$(git rev-list -n 1 "${TAG}")
              echo "tag=${TAG}" >> "$GITHUB_OUTPUT"
              echo "sha=${SHA}" >> "$GITHUB_OUTPUT"
          elif [[ "${TARGET}" =~ ^v[0-9]+(\.[0-9]+)?(\.[0-9]+)?$ ]]; then
              TAG_DETAILS=$(gh release view --json tagName,isDraft,isPrerelease ${TARGET})
              if [[ $? -ne 0 ]]; then
                  echo "Error: The specified tag '${TARGET}' does not exist as a GitHub release."
                  exit 1
              fi

              IS_DRAFT=$(echo "${TAG_DETAILS}" | jq -r '.isDraft')
              IS_PRERELEASE=$(echo "${TAG_DETAILS}" | jq -r '.isPrerelease')
              if [[ "${IS_DRAFT}" == "true" || "${IS_PRERELEASE}" == "true" ]]; then
                  echo "Error: The specified tag '${TARGET}' is either a draft or a pre-release."
                  exit 1
              fi

              TAG=$(echo "${TAG_DETAILS}" | jq -r '.tagName')
              echo "tag=${TAG}" >> "$GITHUB_OUTPUT"
              SHA="$(git rev-list -n 1 "${TAG}")"
              echo "sha=${SHA}" >> "$GITHUB_OUTPUT"
          else
              echo "Error: '${TARGET}' is not a valid release/tag name"
              exit 1
          fi

      - name: Parse versions
        env:
          TAG: ${{ steps.get_tag.outputs.tag }}
        run: |
          major_version=$(echo "$TAG" | grep -oE '^v[0-9]+') >> $GITHUB_OUTPUT
          minor_version=$(echo "$TAG" | grep -oE '^[v0-9]+\.([0-9]+)') >> $GITHUB_OUTPUT

          echo "Major version: $major_version"
          echo "Minor version: $minor_version"

      - name: Git config
        run: |
          # Setup git config
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Tag new version
        env:
          TAG: ${{ steps.get_tag.outputs.tag }}
          VERSION: ${{ steps.parse_versions.outputs.major_version }}
        run: |
          # Create tag for Minor version
          git tag -f ${VERSION} ${TAG}

      - name: Push new version
        env:
          VERSION: ${{ steps.parse_versions.outputs.major_version }}
        run: |
          # Create tag for Major version
          git push -f origin ${VERSION}