# Note this update workflow can also be used as a rollback tool.
# To rollback a major version to a previous commit or tag, simply specify
# the desired git ref as the 'target' input when triggering the workflow.
name: Update Version

run-name: Updating version

on:
  workflow_dispatch:
    inputs:
      target:
        type: string
        description: "The git reference to use as the target (ex. v1.2.3)"
        required: false

concurrency:
  group: ${{ github.workflow }}-update-major-${{ inputs.target }}
  cancel-in-progress: false

env:
  GIT_TARGET: ${{ github.event.inputs.target }}

jobs:
  tag:
    name: Update major and minor version tags

    # Run the job on the latest Ubuntu version
    runs-on: ubuntu-latest

    # Enable write permissions to contents to allow pushing tags
    permissions:
      contents: write
      actions: write

    # Only run this job if the branch is main
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      # https://github.com/actions/checkout
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ env.GIT_TARGET }}

      - name: Get tag
        id: get_tag
        env:
          TARGET: ${{ env.GIT_TARGET }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [[ -z "${TARGET}" ]]; then
              echo "Looking up latest published GitHub release..."
              TAG=$(gh release view --json tagName | jq -r '.tagName')
              SHA=$(git rev-list -n 1 "${TAG}")
              echo "tag=${TAG}" >> "$GITHUB_OUTPUT"
              echo "sha=${SHA}" >> "$GITHUB_OUTPUT"
          elif [[ "${TARGET}" =~ ^v[0-9]+(\.[0-9]+)?(\.[0-9]+)?$ ]]; then
              TAG_DETAILS=$(gh release view --json tagName,isDraft,isPrerelease ${TARGET})
              if [[ $? -ne 0 ]]; then
                  echo "Error: The specified tag '${TARGET}' does not exist as a GitHub release."
                  exit 1
              fi

              IS_DRAFT=$(echo "${TAG_DETAILS}" | jq -r '.isDraft')
              IS_PRERELEASE=$(echo "${TAG_DETAILS}" | jq -r '.isPrerelease')
              if [[ "${IS_DRAFT}" == "true" || "${IS_PRERELEASE}" == "true" ]]; then
                  echo "Error: The specified tag '${TARGET}' is either a draft or a pre-release."
                  exit 1
              fi

              TAG=$(echo "${TAG_DETAILS}" | jq -r '.tagName')
              echo "tag=${TAG}" >> "$GITHUB_OUTPUT"
              SHA="$(git rev-list -n 1 "${TAG}")"

              echo "sha=${SHA}" >> "$GITHUB_OUTPUT"
          else
              echo "Error: The target input must be a valid release/tag name"
              exit 1
          fi

      - name: Get version
        id: get_version
        env:
          VERSION: ${{ steps.get_tag.outputs.tag }}
        run: |
          echo "major=$(echo "$VERSION" | grep -oE '^v[0-9]+')" >> $GITHUB_OUTPUT
          echo "minor=$(echo "$VERSION" | grep -oE '^[v0-9]+\.([0-9]+)')" >> $GITHUB_OUTPUT

      - name: Debug
        env:
          MAJOR: ${{ steps.get_version.outputs.major }}
          MINOR: ${{ steps.get_version.outputs.minor }}
          SHA: ${{ steps.get_tag.outputs.sha }}
          VERSION: ${{ steps.get_tag.outputs.tag }}
        run: |
          echo "Major: $MAJOR"
          echo "Minor: $MINOR"
          echo "Sha: $SHA"
          echo "Version: $VERSION"

      # https://github.com/anothrNick/github-tag-action
      - name: Create and push major tag
        id: tag
        uses: anothrNick/github-tag-action@f278d49d30cdd8775cc3e7dd00b5ee11686ee297 # v1.71.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: ${{ steps.get_version.outputs.major }}
          DEFAULT_BRANCH: ${{ steps.get_tag.outputs.sha }}

      # https://github.com/anothrNick/github-tag-action
      - name: Create and push minor tag
        id: tag
        uses: anothrNick/github-tag-action@f278d49d30cdd8775cc3e7dd00b5ee11686ee297 # v1.71.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: ${{ steps.get_version.outputs.minor }}
          DEFAULT_BRANCH: ${{ steps.get_tag.outputs.sha }}